body {
    margin: 0;
    height: 140vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.img1 {
    height: 140vh;
    width: 50%;
    border: 3px solid #B79C86;
}

a {
    position: absolute;
    margin-left: -1120px;
}
.seta {
    background-color: #B79C86;
}