body {
    margin: 0;
    height: 600vh;
}
.P1 {
    width: 100%;
    height: 450vh;
    
   
}
header {
    background-color: black;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: ;
}

nav { display: flex;
justify-content: space-between;
width: 45%;
height: 15vh;}

a {
    margin-top: 60px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Michroma", sans-serif;
}
.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.img1 {
    margin-top: 80px;
    width: 25%;
    height: 60vh;
    margin-left: 400px;

} 
.imagens {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80vh;
    display: inline-block;
    
    
}
.texto {
    display: flex;
    justify-content: center;
    margin-left: 800px;
    margin-top: -500px;
}
h1 {
    font-family: "Carter One", system-ui;
    margin-left: -140px;
    
}
.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
p {
    font-family: "Archivo Black", sans-serif;
    margin-top: 80px;
    font-size: 70px;
    position: absolute;
    margin-left: 10px;
}
.h13 {
    margin-top: 280px;

    position: absolute;
}
.img2 {
    position: absolute;
    margin-top: 245px;
    margin-left: 180px;
}
.retangulopreto {
  
    background-color: black;
    width: 75%;
    height: 80vh;
    margin-top: 0px;
    position: relative;
    border-radius: 30px;
}
.retangulotransparente {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 680px;
}
h2 {
   color: white;
   margin-left: 70px;
   font-size: 40px;
   font-family: "Archivo Black", sans-serif;
}
.linhabranca {
    margin-top: -10px;
    width: 100%;
    height: 1vh;
    background-color: white;

}
h3 {
    color: white;
    background-color: black;
   margin-left: 530px;
   margin-top: -520px;
   font-size: 20px;
   font-family: "Cambay", sans-serif;
   font-weight: 400;
    
}
.cambay-regular {
    font-family: "Cambay", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cambay-bold {
    font-family: "Cambay", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cambay-regular-italic {
    font-family: "Cambay", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cambay-bold-italic {
    font-family: "Cambay", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .dark {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .darkmode {
    position: relative;
    display: block;
    width: 70px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    transition: background-color 0.3s;
    top: -10px;
  }
  
  .darkmode::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 5px;
    background-color: #0a0a0a;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  /* Quando o checkbox for marcado, a bolinha se move */
  input:checked + .darkmode::before {
    transform: translateX(30px);
  }
  
  /* Esconde o checkbox real */
  .dk input {
    display: none;
  }
  
  #dark-toggle{
     display: none;
  }
  .dark-mode .P1 {
    background-color: black;
  }
  .dark-mode .retangulopreto {
    background-color: white;
  }
  .dark-mode a {
    color: black;
    
  }
  .dark-mode header {
    background-color: white;
  }
  .dark-mode h3 {
    background-color: black;
    color: white;
  }
  .dark-mode h1 {
    color: black;
  }
  .dark-mode p {
    color: white;
  }
  .dark-mode h2 {
    color: black;
  }
  .dark-mode .linhabranca{
    background-color: black;
  }
  .dark-mode h3 {
    color: black;
    background-color: black;
  }
  .dark-mode .img2 {
    color: white;
    
  }
  .linhabranc {
    margin-top: -10px;
    width: 100%;
    height: 1vh;
    background-color: rgb(2, 2, 2);

}
.retangulopret {
  
    background-color: white;
    width: 100%;
    height: 80vh;
    margin-top: 0px;
    position: relative;
    border-radius: 30px;
}
.retangulotransparent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    display: inline-block;
    margin-top: -0px;
}

.h21 {
    color: black;
    margin-left: 220px;
    margin-bottom: 1px;
    font-size: 75px;
    font-family: "Archivo Black", sans-serif;
 }
h4 {
  margin-left: 200px;
  font-size: 35px;
  font-family: "Cambay", sans-serif;
  font-weight: 700;
  margin-top: 4px;
}
.transparente {
  margin-top: -220px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40vh;
 

}
.pretoo {
  width: 20%;
  border-radius: 40px;
  height: 42vh;
  background-color: black;
}
.divformstransparente {
  height: 90vh;
  width: 100%;
  margin-top: -900px;
  display: flex;
  justify-content: center;  
}
.formsinterno {
  border-radius: 40px;
  width: 75%;
  background-color: black;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.Entre {
  color: white;
  margin-left: 30px;
  margin-top: 100px;
  font-size: 45px;
  font-family: "Archivo Black", sans-serif;
}

.número {
  color: white;
  margin-left: 30px;
  position: absolute;
  margin-top: 780px;
  font-size: 45px;
  font-family: "Archivo Black", sans-serif;

}
.formscinza {
  background-color: #252424;
  height: 50vh;
  border-radius: 20px;
  display: inline-block;
  margin-top: 250px;
  width: 70%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr  ;
  position: absolute;
  
}
.inputcinza {
  position: absolute;
  background-color: #4A4848;
  width: 45%;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  font-size: 20px;
  height: 5.5vh;
  display: flex;
  align-items: center;
  color: white;
}
.inputcinza1 {
  position: absolute;
  background-color: #4A4848;
  width: 30%;
  color: white;
  font-size: 20px;
  margin-top: 280px;
  margin-left: 640px;
  border-radius: 20px;
  height: 5.5vh;
  display: flex;
  align-items: center;
}
.inputgrande {
  color: white;
  position: absolute;
  background-color: #4A4848;
  width: 63%;
  grid-column: 1/3;
  font-size: 20px;
  margin-top: 360px;
  margin-left: -25px;
  border-radius: 20px;
  height: 25vh;
  display: flex;
  justify-items: flex-start;
}

.skillstrans{
  margin-top: 230px;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;

}
.skillspreto1:hover > :not(:hover){
  opacity: -4;
  transform: scale(0.9);
 

}


.skillspreto{
  width: 60%;
  height: 80vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillspreto1{
  gap: 30px;
  width: 60%;
  height: 50vh;
  display: inline-block;
  background-color: black;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}
.blococinza {
  width: 100%;
  height: 15vh;
   transition: .35s;
  cursor: pointer;
  display: flex;
  justify-content: center;
 display: inline-block;
  position: relative;
}
.sub {
  
  color: white;
  font-size: 15px;
  margin-top: -400px;
}
.minha {
  color: white;
  font-size: 35px;
  position: absolute;
  margin-left: 20px;
  margin-top: -500px;
  font-family: "Archivo Black", sans-serif;

}
.skills2 {
  font-size: 25px;
  border-bottom: 3px solid white;
  position: absolute;
  margin-right: 980px;
}
.inputgrand {
  color: black;
  position: absolute;
  background-color: #4A4848;
  width: 55%;
  grid-column: 1/3;
  font-size: 20px;
  background-color: #D9D9D9;
  margin-top: -240px;
  margin-left: 410px;
  border-radius: 20px;
  height: 7vh;
  display: flex;
  justify-items: flex-start;
}
.projetosprint {
  border-radius: 10px;
}
.rodapéport {
  background-color: #0a0a0a;
  height: 18vh;
  margin-top: 405px;
  width: 100%;
  display: flex;
  justify-content: start;
}
.rodapéport h1 {
  color: white;
  font-size: 20px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  margin-left: 55px;
  margin-top: 30px;
  border: 1px solid white;
  margin-bottom: 50px;
}
.rodapéport h2 {
  color: white;
  font-size: 20px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-left: -460px;
  margin-top: 85px;
  border: 1px solid white;
  margin-bottom: 50px;
}

.rodapéport p {
  color: white;
  text-align: center;
  margin-left: 47%;
  font-size: 34px;
  margin-top: 40px;
  border-bottom:  2px solid white;
  font-family: 'Times New Roman', Times, serif;
}
.rodapéport b{
  color: white;
  text-align: center;
  margin-left: 35%;
  font-size: 34px;
  margin-top: 90px;
  font-family: 'Times New Roman', Times, serif;
}
.blococinza h1 {
  visibility: hidden;  /* Esconde o texto */
  opacity: 0;          
  position: absolute;
  text-align: center;
  color: white;
  width: 150%;
  font-family: "Cambay", sans-serif;
  font-weight: 700;
  height: 27vh;
  font-size: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.blococinza:hover h1 {
  visibility: visible;
  opacity: 1;
}

/* --- Dark mode overrides --- */
.dark-mode {
  background-color: #0a0a0a;
  color: #e6e6e6;
}
.dark-mode header {
  background-color: black;
}
.dark-mode a {
  color: #e6e6e6;
}
.dark-mode .P1 {
  background-color: transparent;
}
.dark-mode .retangulopreto {
  background-color: black; /* dark panel */
  border:  3px solid white;
  border-radius: 20px;
  color: #e6e6e6;
}
.dark-mode .retangulotransparent,
.dark-mode .retangulotransparent .retangulopret {
  background-color: transparent;
}
.dark-mode .linhabranca {
  background-color: white;
}
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p, .dark-mode h4 {
  color: #e6e6e6;
}
.dark-mode .transparente {
  background-color: #070707;
}
.dark-mode .pretoo {
  background-color: #0f1214;
}
.dark-mode .formsinterno {
  background-color: #0b0b0b;
}
.dark-mode .formscinza {
  background-color: #1f1f1f;
}
.dark-mode .inputcinza, .dark-mode .inputcinza1, .dark-mode .inputgrande, .dark-mode .inputgrand {
  background-color: #2b2b2b;
  color: #e6e6e6;
}
.dark-mode .blococinza h1 {
  background-color: #111;
  color: #e6e6e6;
  border-color: #222;
}
.dark-mode .rodapéport {
  background-color: #080808;
  border-top: 2px solid white;
}
.dark-mode .rodapéport h1, .dark-mode .rodapéport h2, .dark-mode .rodapéport p, .dark-mode .rodapéport b {
  color: #dcdcdc;
}
.dark-mode .inputgrand {
  background-color: white;
}
.dark-mode .linhabranca {
  background-color: white;
}
.dark-mode .linhabranc {
  background-color: white;
}

/* small transition for smoother switching */
* {
  transition: background-color 180ms ease, color 180ms ease, border-color 180ms ease;
}